/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/


.page {
  font-family: var(--font-primary);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
}

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh; 
  min-height: 327px;

}

.header__title-card {
  display: grid;
  gap: 25px;
  justify-items: center;
  border: var(--border);
  padding-inline: var(--card-padding-horizontal); /* Горизонтальный*/
  padding-block: var(--card-padding-vertical);   /* Вертикальный*/
  background-color: var(--color-secondary) ;
}

.header__title {
  font-family: var(--font-accent);
  font-size: var(--font-accent-size);
  font-weight: var(--font-text);
  color: var(--color-accent);
  line-height: 100%;
}

.header__text {
  font-family: var(--font-accent);
  font-size: var(--font-subtitle-size);
  font-weight: var(--text-weight);
  color: var(--color-accent);
  line-height: 100%;
  text-transform: uppercase;
}


.content {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  gap: var(--card-gap);
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto; /* 4 строки: заголовок, изображение, текст, футер */
  max-width: var(--card-width);
  background-color: var(--color-secondary) ;
  border: var(--border);
  margin: 0 auto;
}

.card__block-title {
  font-size: var(--title-card-size);
  font-variation-settings: var(--font-title);
  padding-inline: 10px;
  padding-block: 4px 6px;
  border-bottom: 1px solid  var(--color-accent) ;
}

.card__block-image-container {
  position: relative;
}

.card__block-image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 11px;
  font-family: var(--font-accent);
  font-weight: var(--text-weight);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  color: var(--color-accent);
  -webkit-text-stroke: 1px #ffffff80; /* Для Safari и Chrome */
}

.card__block-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text-content {
  display: grid;
  gap: 24px;
  border-top: 1px solid  var(--color-accent) ;
  padding-inline: 25px;
  padding-block: 25px;
  font-size: var(--title-card-size);
  font-variation-settings: var(--font-text);
}

.card__footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button {
  border: var(--border);
  background-color: var(--color-secondary);
  padding-inline: 10px;
  padding-block: 6px;
  cursor: pointer;
  min-width: 130px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 13px;
  font-weight: var(--text-weight);
  font-variation-settings: var(--font-text);
  color: var(--color-accent);
}


.content__memory-button {
  font-family: var(--font-accent);
  font-size: 15px;
  font-weight: var(--text-weight);
  display: grid;
  justify-items: center;
  align-items: center;
  padding-inline: 20px;
  padding-block: 15px;
  gap: 8px;
  border: var(--border);
  background: var(--color-secondary);
  cursor: pointer;

  @media (width >= 1024px) {
    grid-template-columns: repeat(2, auto);
    }

}

.button__icon-save {
  width: 28px;
  height: 28px;
}


.saved-dialog[open]{
  position: fixed;
  inset: 0;
  display: grid;
  text-transform: uppercase;
  font-family: var(--font-accent);
  font-weight: var(--text-weight);
  font-size: 14px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px 20px;
  justify-items: start;
  align-items: center;
  max-width: var(--dialog-width);
  border: var(--border);
  transition: opacity 0.3s ease-in-out;
  padding-inline: var(--dialog-paddind-inline);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}


dialog::backdrop {
  background-color: #000000bf;
} 

.button-dialog {
  border: var(--border);
  background-color: var(--color-secondary);
  padding-inline: 10px;
  padding-block: 6px;
  cursor: pointer;
  width: 100%;
  grid-column: 1 / span 2;
}

.saved-dialog .button__icon-save {
  width: 40px;
  height: 40px;
}